#content {
    display: flex;
}
.star {
    color: red;
}
h1 {
    font-weight: 700;
    font-size: 61px;
}
span {
    font-weight: 400;
    font-size: 20px;
}
input::placeholder {
    color: #D1D1D1;
}
#dueDate img {
    width: 24px;
    height: 24px;
}
#dueDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 12px 21px;
    width: 100%;

}
#separator {
    height: 424px;
    border: 1px solid #D1D1D1;
}
.padding {
    padding: 12px 21px;
}
input {
    font-size: 20px;
    width: 100%;
    outline: none;
}
textarea {
    font-size: 20px;
}
textarea::placeholder {
    color: #D1D1D1;
}
button {
    padding: 16px 10px;
    border-radius: 10px;
    background-color: white;
}
.medium {
    background-color: #fda807;
}
.urgent {
    background-color: #fe3e00;
}
.low {
    background-color: #7ae229;
    fill: #D1D1D1;
}
#button_div button {
    display: flex;
    width: 136px;
    gap: 8px;
    align-items: center;
}
#separator {
    margin: 0 40px;
}
.content_half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 376px;
    width: 440px;
}
.flex_start {
align-items: flex-start;
}
#description {
    min-height: 120px;
    height: 120px;
    width: 100%;
}
.content_half button {
width: 100%;
}
.content_half div {
    width: 100%;
}
input:hover {
    cursor: pointer;
}
textarea:hover {
    cursor: pointer;
}
.hidden {
    display: none !important;
}
.required {
    color: red;
    font-size: 12px;
    font-weight: 200;
}
#contactsList input {
    width: auto;
}
.contact:hover {
    background-color: #D1D1D1;
}
.contact {
    padding: 16px 10px;
    border-radius: 10px;
    background-color: white;
}
.highlight {
    background-color: #2a3547;
    color: white;
}
.highlight:hover {
    background-color: #091931;
}
#contactsList div {
    cursor: pointer;
}
.circle {
    height: 42px;
    width: 42px !important;
    border-radius: 50%;
    background-color: red;
    margin: 6px;
}
.indice_name {
    display: flex;
    align-items: center;
    gap: 8px;
}
#closed_contacts {
    display: flex;
}