#formular {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	width: 100%;
}
.star {
	color: red;
}
h1 {
	font-weight: 700;
	font-size: 61px;
	width: 100%;
	cursor: default;
}
span {
	font-weight: 400;
	font-size: 20px;
}
#dueDate {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	padding: 12px 21px;
	width: 100%;
}
#separator {
	height: 424px;
	border: 1px solid #d1d1d1;
}
input {
	font-size: 20px;
	width: 100%;
	outline: none;
}
input::placeholder {
	color: #d1d1d1;
}
input:hover {
	cursor: pointer;
}
textarea {
	font-size: 20px;
	max-width: 100%;
	min-width: 100%;
	overflow-y: scroll;
}
textarea:focus {
	border: none;
	outline-width: 1px;
	outline-style: solid;
	outline-color: #00c0dd;
}
textarea::placeholder {
	color: #d1d1d1;
}
textarea:hover {
	cursor: pointer;
}
.medium {
	background-color: #fda807 !important;
}
.urgent {
	background-color: #fe3e00 !important;
}
.low {
	background-color: #7ae229 !important;
	fill: #d1d1d1;
}

#rightside .dialog_button {
	width: 100%;
}
#description {
	min-height: 120px;
	height: 120px;
	width: 100%;
}
.hidden {
	display: none !important;
}
#contactsList {
	display: flex;
	flex-direction: column;
	width: 100%;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 4px 10px 0px #00000040;
	max-height: 272px;
	overflow-y: scroll;
}
.contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 6px;
	width: 100%;
	border-radius: 10px;
	background-color: white;
}
.contact:hover {
	background-color: #d1d1d1;
}
.highlight {
	background-color: #2a3547;
	color: white;
}
.highlight:hover {
	background-color: #091931;
}
.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 42px;
	width: 42px !important;
	border-radius: 50%;
	background-color: red;
	margin: 6px;
}
.circle:hover {
	cursor: pointer;
}
.initial_name {
	display: flex;
	align-items: center;
	gap: 8px;
}
#category {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0px 4px 10px 0px #00000040;
}
#category_btn {
	justify-content: space-between;
}
.formular-section .category {
	display: flex;
	padding: 16px 10px;
	border-radius: 10px;
	background-color: white;
	width: 100%;
	cursor: pointer;
	color: black;
	font-size: 20px;
}
.formular-section .category:hover {
	background-color: #d1d1d1;
}
.addSubtask_btndiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
.edittedSubtask {
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
	padding-left: 16px;
	padding-right: 8px;
	border-bottom-color: #00c0dd;
	border-bottom-style: solid;
	border-width: 1px;
	width: 100%;
}
.edittedSubtask input {
	font-size: 16px;
}
.addedSubtask {
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
	padding-left: 35px;
	padding-right: 8px;
	border-radius: 10px;
}
.addedSubtask:hover {
	background-color: #d1d1d1;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#addtask_button_div {
	display: flex;
	gap: 16px;
}
#confirm_btn {
	background-color: #2a3547;
	color: white;
	display: flex;
	align-items: center;
	gap: 8px;
}
#confirm_btn:hover {
	background-color: #00c0dd;
}
#clear_btn {
	color: #2a3547;
	display: flex;
	align-items: center;
	outline: auto;
}
#clear_btn:hover {
	outline-color: #00c0dd;
	color: #00c0dd;
	/* Das verfluchte X muss auch noch irgendwie die Farbe ändern */
}
.btn_bigFont {
	font-size: 21px !important;
	font-weight: 700 !important;
	color: white;
}

.btn_smallFont {
	font-size: 20px;
	font-weight: 400;
}
.icon:hover {
	background-color: #d1d1d1;
	border-radius: 50px;
	cursor: pointer;
}
ul {
	width: 100%;
}
.listitem {
	position: relative;
}
.listitem::after {
	content: "";
	width: 5px;
	height: 5px;
	position: absolute;
	left: calc(0% - 10px);
	bottom: 50%;
	border-radius: 50%;
	background-color: black;
	transform: translate(0, 50%);
}
li span {
	font-size: 16px;
	font-weight: 400;
}
li {
	cursor: pointer;
}
#subtask_input_icons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.rotate {
	transform: rotate(180deg);
}
#required_and_taskbuttons {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 90px;
	width: 100%;
}
#selected_contacts_div {
	display: flex;
}
.formular-section {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.formular-element {
	padding: 12px 21px;
	border-radius: 10px;
	border-color: #ecedee;
	border-style: solid;
	border-width: 1px;
}
.formular-element:focus {
	border-color: #00c0dd;
}
#priority_button_div {
	display: flex;
	justify-content: space-between;
	gap: 16px;
}
#priority_button_div .dialog_button {
	border-style: solid;
	border-color: #D1D1D1;
	border-width: 1px;
}
button:hover #clear_btn_img {
    fill: #00c0dd;
}
.dialog_button {
	padding: 16px 10px;
	border-radius: 10px;
	background-color: white;
	gap: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dialog_button:focus-within {
	border-color: #00c0dd;
	border-style: solid;
	border-width: 1px;
}
.dialog_button:hover {
	box-shadow: 0px 4px 4px 0px #00000040;
}
.dialog_button:disabled {
	background-color: #ccc !important;
	cursor: not-allowed;
}
#confirm_btn:hover span {
	cursor: not-allowed;
}
.dialog_button:disabled:hover {
	box-shadow: none;
	transform: none;
}
#addTaskDial {
	width: auto;
	max-height: 900px;
	max-width: 1116px;
}
#title_dialog {
	display: flex;
	align-items: flex-start;
	width: 100%;
}
#dialog_close_btn {
	border-radius: 50px;
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}
#dialog_close_btn:hover {
	background-color: #f0f0f0;
}
#center-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 64px 74px;
	width: 100%;
	gap: 48px;
}

/* #center-content::-webkit-scrollbar {
	width: 6px;
}
  
#center-content::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 8px;
}
  
#center-content::-webkit-scrollbar-thumb {
	background-color: #bbb;
	border-radius: 8px;
	border: 2px solid transparent;
	background-clip: content-box;
} */


.highlight span {
	color: white;
}

@keyframes slideIn {
	0% {
		transform: translateX(200%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes slideOut {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(200%);
	}
}

.slideTaskDialIn {
	animation: slideIn 1s ease-in forwards;
}

.slideTaskDialOut {
	animation: slideOut 1s ease-in forwards;
}
#headline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
#x-icon {
    border-radius: 20px;
    width: 32px;
    height: 32px;
}
#x-icon:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}
/* Gibt es einen Grund, warum leftside & rightside nicht übernommen wurde? */
#leftside {
	display: flex;
	flex-direction: column;
	max-width: 440px;
	width: 100%;
	gap: 32px;
}
#rightside {
	display: flex;
	flex-direction: column;
	max-width: 440px;
	width: 100%;
	gap: 24px;
}

/* Warum gibt es feste width für dialog in der board_dialog.css? */

.no-shadow {
	box-shadow: none !important;
	outline: auto;
	outline-style: solid;
	outline-width: 1px;
	outline-color: #d1d1d1;
}
.no-shadow:hover {
	outline: auto;
	outline-style: solid;
	outline-width: 1px;
	outline-color: #A8A8A8;
}