#content {
    display: flex;
    align-items: flex-start;
    padding-top: 60px;
}
.star {
    color: red;
}
h1 {
    font-weight: 700;
    font-size: 61px;
}
span {
    font-weight: 400;
    font-size: 20px;
}
input::placeholder {
    color: #D1D1D1;
}
#dueDate img {
    width: 24px;
    height: 24px;
}
#dueDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 12px 21px;
    width: 100%;

}
#separator {
    height: 424px;
    border: 1px solid #D1D1D1;
}
.padding {
    padding: 12px 21px;
}
input {
    font-size: 20px;
    width: 100%;
    outline: none;
}
textarea {
    font-size: 20px;
}
textarea::placeholder {
    color: #D1D1D1;
}
button {
    padding: 16px 10px;
    border-radius: 10px;
    background-color: white;
}
.medium {
    background-color: #fda807;
}
.urgent {
    background-color: #fe3e00;
}
.low {
    background-color: #7ae229;
    fill: #D1D1D1;
}
#button_div {
    gap: 16px;
}
#button_div button {
    display: flex;
    width: 136px;
    gap: 8px;
    align-items: center;
}
button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
#separator {
    margin: 0 40px;
}
.content_half {
    display: flex;
    flex-direction: column;
    width: 440px;
    gap: 24px;
}
.flex_start {
align-items: flex-start;
}
#description {
    min-height: 120px;
    height: 120px;
    width: 100%;
}
.content_half button {
width: 100%;
}
input:hover {
    cursor: pointer;
}
textarea:hover {
    cursor: pointer;
}
.hidden {
    display: none !important;
}
.required {
    color: red;
    font-size: 12px;
    font-weight: 200;
}
#contactsList {
    width: 100%;
}
#contactsList input {
    width: auto;
}
.contact:hover {
    background-color: #D1D1D1;
}
.contact {
    padding: 16px 10px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}
.highlight {
    background-color: #2a3547;
    color: white;
}
.highlight:hover {
    background-color: #091931;
}
#contactsList div {
    cursor: pointer;
}
.circle {
    height: 42px;
    width: 42px !important;
    border-radius: 50%;
    background-color: red;
    margin: 6px;
}
.indice_name {
    display: flex;
    align-items: center;
    gap: 8px;
}
#closed_contacts {
    display: flex;
}

#category {
    align-items: flex-start;
    width: 100%;
}
.category {
    display: flex;
    padding: 16px 10px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    cursor: pointer;
}
.category:hover {
    background-color: #D1D1D1;
}
#subtasks_div {
    padding: 16px 10px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
}
#btn_subtask {
    width: fit-content;
    height: fit-content;
    padding: 0;
}
.addSubtask_btndiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.addedSubtask {
    padding: 8px 0;
    padding-left: 35px;
    padding-right: 8px;
    border-radius: 10px;
}
.addedSubtask:hover {
background-color: #D1D1D1;
}
.addedSubtask_btn {
    width: fit-content !important;
    height: fit-content;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
#addtask_button_div {
    display: flex;
    gap: 16px;
}
#confirm_btn {
    background-color: #2a3547;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}
#confirm_btn:hover {
    background-color: #00c0dd;
}
#clear_btn {
    color: #2a3547;
    display: flex;
    align-items: center;
    outline: auto;
}
#clear_btn:hover {
    outline-color: #00c0dd;
    color: #00c0dd;
    /* Das verfluchte X muss auch noch irgendwie die Farbe ändern */
}
.btn_bigFont {
    font-size: 21px !important;
    font-weight: 700 !important;
    color: white;
}

.btn_smallFont {
    font-size: 20px;
    font-weight: 400;
}
#non-sidebar {
    padding-left: 328px;
    margin-top: 206px;
}
.hover:hover {
    background-color: #D1D1D1;
    border-radius: 50px;
    cursor: pointer;
}
ul {
    width: 100%;
}
.listitem {
    position: relative;
}
.listitem::after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    left: calc(0% - 10px);
    bottom: 50%;
    border-radius: 50%;
    background-color: black;
    transform: translate(0, 50%);
}
li span{
    font-size: 16px;
    font-weight: 400;
}
li {
    cursor: pointer;
}
#subtask_input_icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.rotate {
    transform: rotate(180deg)
}
#required_and_taskbuttons {
    display: flex;
    align-items: flex-end;
    margin-top: 162px;
}
.edittedSubtask {
    padding: 8px 0;
    padding-left: 35px;
    padding-right: 8px;
    border-bottom-color: #00c0dd;
    border-bottom-style: solid;
    width: 100%;
}