dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.25);
}

body:has(#overlay[open]) {
    overflow: hidden;
}

dialog {
    padding: 0;
    outline: none;
    width: 525px;
    border: none;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
}

dialog .wrapper {
    padding: 3rem 2.5rem;
}

.align-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category {
    background-color: #0038FF;
    padding: 0.25rem 1.5rem;
    border-radius: 8px;
    font-weight: 400;
    font-size: 1.438rem;
    color: #FFFFFF;
}

.close-btn {
    font-size: 0.875rem;
    outline: unset;
    background-color: #FFFFFF;
    color: #2A3647;
    border-radius: 50%;
}

.dialog-h1 {
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: 3.813rem;
    color: #000000;
}

.dialog-p {
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 1.25rem;
    color: #000000;
}

.due-date-section {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.563rem;
}

.due-date-txt {
    font-weight: 400;
    font-size: 1.25rem;
    color: #2A3647;
}

.due-date {
    font-weight: 400;
    font-size: 1.25rem;
    color: #000000;
}

.priority-section {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.563rem;
}

.priority-txt {
    font-weight: 400;
    font-size: 1.25rem;
    color: #2A3647;
}

.priority-icon-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.icon-txt {
    font-weight: 400;
    font-size: 1.25rem;
    color: #000000;
}

.assignment-txt {
    text-align: left;
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 1.25rem;
    color: #42526E;
}

.task-member {
    margin-top: 0.5rem;
    padding-inline: 1rem;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-block: 0.438rem;
}

.contact-logo {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #1FD7C1;
}

.contact span {
    font-weight: 400;
    font-size: 1.188rem;
    color: #000000;
}

.subtask-checkbox {
    margin-top: 0.5rem;
    padding-inline: 1rem;
}

.align-checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.25rem;
    gap: 1rem;
}

.align-checkbox p {
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    margin-top: 0;
}

.align-checkbox img:hover {
    cursor: pointer;
}

.delete-change-section {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.delete-change-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.delete-change-container span {
    font-weight: 400;
    font-size: 1rem;
    color: #2A3647;
}

.delete-change-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.delete-change-container:hover span {
    color: #29ABE2;
    font-weight: bold;
}

.delete-change-container:hover svg path {
    fill: #29ABE2;
}

.divider {
    height: 24px;
    border: 1px solid #D1D1D1;
}

.align-edit-dialog-close-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.align-title-input {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.align-title-input label {
    color: #2A3647;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

#input_title {
    border: 1px solid #D1D1D1;
    outline: none;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    color: #000000;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

#input_title:focus {
    border: 1px solid #29ABE2;
}

#input_title::placeholder {
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
    color: #D1D1D1;
}

#input_title, #input_descr, #input_duedate {
    width: 100%;
}

.align-descr-input {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.align-descr-input label {
    color: #2A3647;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

#input_descr {
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    outline: none;
    padding: 1rem 1.5rem;
    color: #000000;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

#input_descr:focus {
    border: 1px solid #29ABE2;
}

#input_descr::placeholder {
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
    color: #D1D1D1;
}

.align-duedate-input {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.align-duedate-input label {
    color: #2A3647;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

#input_duedate {
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    outline: none;
    padding: 1rem 1.5rem;
    color: #000000;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

#input_duedate:focus {
    border: 1px solid #29ABE2;
}

#input_duedate::placeholder {
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
    color: #D1D1D1;
}

.align-priority-btn-section {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.align-priority-btn-section p {
    color: #42526E;
    font-weight: 700;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

.btn-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 0.5rem;
}

.btn-flexbox button {
    flex: 1;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 10px;
}

.urgent_button_unklicked {
    background-color: #FFFFFF;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

.urgent_button_unklicked:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.urgent_button_klicked {
    background-color: #FF3D00;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
    font-weight: 700;
    color: #FFFFFF;
}

.medium_button_unklicked {
    background-color: #FFFFFF;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

.medium_button_unklicked:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.medium_button_klicked {
    background-color: #FFA800;
    color: white;
    font-weight: 700;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

.low_button_unklicked {
    background-color: #FFFFFF;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

.low_button_unklicked:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.low_button_klicked {
    background-color: #7AE229;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
    font-weight: 700;
    color: #FFFFFF;
}

.align-assigned-to-section {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.align-assigned-to-section label {
    color: #42526E;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

.diaolog-dropdown-menu {
    margin-top: 0.5rem;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1.5rem;
}

.diaolog-dropdown-menu:focus-within {
    border: 1px solid #29ABE2;
}

.diaolog-dropdown-menu input {
    outline: none;
    border: none;
    flex: 1;
    border-radius: 10px;
    padding: 0.25rem;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
    color: #000000;
}

.diaolog-dropdown-menu input::placeholder{
    color: #000000;
    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

.dropdown-icon:hover {
    background-color: #EEEEEE;
    border-radius: 50%;
    cursor: pointer;
}


