body {
	position: relative;
	overflow: hidden;
}

#stickyContactsContent {
	overflow: hidden;
	display: flex;
	box-shadow: -4px 0px 6px 0px #00000014;
	position: absolute;
	top: 6.0rem;
	left: 14.5rem;
	height: calc(100vh - 96px);
}

#stickyContacts {
	position: relative;
	top: 0;
	overflow: auto;
	padding-bottom: 3.25rem;
	background-color: white;
	box-shadow: 4px 0px 6px 0px #00000014;
	scrollbar-width: 1.5rem;
}

#contentLimiter {
	display: flex;
	margin-left: 45rem;
	width: calc(100% - 688px);
	height: 100%;
	width: 100%;
}

#addNewContactBtnDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1.4062rem;
	position: sticky;
	top: 0;
	background-color: white;
	padding-bottom: 1.4062rem;
	padding-inline: 52px;
}

#addNewContactBtn {
	padding: 0.75rem 64.5px;
	background-color: #2a3647;
	color: white;
	border-radius: 0.625rem;
	text-align: center;
	font-size: 1.3125rem;
	font-weight: 700;
	gap: 1.0rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	white-space: nowrap;
	z-index: 10;
}

#addNewContactBtn img {
	width: 1.875rem;
	height: 1.25rem;
}

#addNewContactBtn:hover {
	background-color: #29abe2;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

#contactInfo {
	padding-left: 3.4375rem;
	padding-top: 12.875rem;
	padding-right: 8.0rem;
	max-width: 90.0rem;
	margin-right: auto;
	width: 100%;
	overflow: hidden;
}

#contactHeadlineDiv {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	position: relative;
}

.divider {
	height: 3.6875rem;
	border: 0.125rem solid #29abe2;
	margin: 0 30px;
	border-radius: 0.625rem;
}

#contactHeadlineDiv h1 {
	font-size: 3.8125rem;
	font-weight: 700;
}

#contactHeadlineDiv p {
	font-size: 1.6875rem;
	font-weight: 400;
	white-space: nowrap;
}

.letterDiv {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1.0625rem 36px;
}

.shorthandLetters {
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 50%;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.contactListNameAndEmailDiv {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.actualContactDiv {
	display: flex;
	gap: 2.1875rem;
	padding: 0.9375rem 24px;
	border-radius: 0.625rem;
}

.actualContactDiv:hover {
	background: linear-gradient(#f9f9f9, #f0f0f0);
	color: black;
	cursor: pointer;
}

.contactListName {
	font-size: 1.25rem;
}

.contactListEmail {
	font-size: 1.0rem;
	color: #007cee;
}

.contactDivider {
	border-radius: 0.1875rem;
	border: 0.0312rem solid #d1d1d1;
}

#contactNameDiv {
	gap: 0.5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 52px;
}

#contactInfoInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 1.3125rem;
}

#contactInfoInfoHeadline {
	margin-top: 1.9375rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: 3.375rem;
}

#initialsDivInfo {
	border-radius: 50%;
	width: 7.5rem;
	height: 7.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.9375rem;
	font-weight: 500;
	flex-shrink: 0;
}

#nameAndEditDiv {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#nameAndEditDiv h3 {
	font-size: 2.9375rem;
	font-weight: 500;
}

#editDiv {
	display: flex;
	gap: 1.0rem;
}

.editBlock {
	display: flex;
	gap: 0.5rem;
	justify-content: flex-start;
	z-index: 0;
}

.editBlock svg {
	z-index: -1;
}

.editBlock span {
	color: #2a3647;
	font-size: 1.0rem;
	font-weight: 400;
}

.editBlock:hover {
	cursor: pointer;
}

.editBlock:hover span {
	color: #29abe2;
}

.editBlock:hover svg path {
	fill: #29abe2;
}

#contactInformationDiv {
	width: 100%;
	padding: 1.875rem 0;
}

#contactInformationDiv p {
	font-size: 1.25rem;
	font-weight: 400;
}

#actualContactInformation {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1.375rem;
	justify-content: center;
	align-items: flex-start;
}

.actualInfoBlock {
	display: flex;
	flex-direction: column;
	gap: 0.9375rem;
}

.actualInfoBlock p {
	font-size: 1.0rem;
	font-weight: 700;
	color: black;
}

.actualInfoBlock span {
	font-size: 1.0rem;
	font-weight: 400;
}

.emailInfo {
	color: #007cee;
}

.dnone{
	display: none !important;
}

#addContactFixed{
	width: 56px;
	height: 56px;
	background-color: #2a3647;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 150px;
	right: 5%;
}
#addContactFixed:hover{
	cursor: pointer;
}

#contactInfoBackBtn{
	position: fixed;
	right: 30px;
	top: 170px;
	display: none;
}

#contactInfoBackBtn:hover{
	cursor: pointer;
}

.dividerBottom{
	height: 3px;
	width: 90px;
	background-color: #29abe2;
	border-radius: 4px ;
	display: none;
}

.actualContactDiv.clickedBackground{
	pointer-events: none;
}

@keyframes slideInContactInfo {
	0% {
		transform: translateX(200%);
	}
	100% {
		transform: translateX(0);
	}
}

.slideInContactInfo {
	animation: slideInContactInfo 0.5s ease forwards;
}

.whiteBackground {
	background-color: white;
	color: black;
}

.clickedBackground {
	background-color: #2a3647;
	color: white;
}

#optionsBtn{
	background-color: #2a3647;
	display: none;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	position: fixed;
	bottom: 150px;
	right: 5%;
}

#optionsBtn:hover{
	cursor: pointer;
}

#editBurger{
	position: fixed;
	bottom: 120px;
	right: 2%;
	z-index: 10;
	background-color: white;
	padding: 20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 0 3px 9px -2px rgba(0,0,0,0.2);
	transform: translateX(200%);
	transition: 0.33s;
}

#editDivMobile{
	gap: 16px;
	display: flex;
	flex-direction: column;

}

.slideBurgerIn{
	transform: translateX(0)!important;
}

.show{
	display: flex !important;
}

.actualContactDiv span:hover{
	cursor: pointer;
}

.editBlock span:hover{
	cursor: pointer;
}
@media(max-width: 1440px){
	#addNewContactBtn{
		font-size: clamp(1rem, 0.5498rem + 0.8475vw, 1.3125rem);
		padding-inline: clamp(1.25rem, -1.6314rem + 5.4237vw, 3.25rem);
	}
	#contactHeadlineDiv h1{
		font-size: clamp(2rem, -0.6112rem + 4.9153vw, 3.8125rem);
	}
	#contactHeadlineDiv p{
		font-size: clamp(1rem, 0.0095rem + 1.8644vw, 1.6875rem);
	}
	#contentLimiter{
		margin-left: clamp(35rem, 2.6471rem + 47.0588vw, 45rem);
	}


	#initialsDivInfo{
		font-size: clamp(2rem, -1.0331rem + 4.4118vw, 2.9375rem);
		height: clamp(5.5rem, -0.9706rem + 9.4118vw, 7.5rem);;
		width: clamp(5.5rem, -0.9706rem + 9.4118vw, 7.5rem);;
	}
	#nameAndEditDiv h3{
		font-size: clamp(2rem, -1.0331rem + 4.4118vw, 2.9375rem);
	}

	.contactListName{
		font-size: clamp(1.3125rem, 0.7059rem + 0.8824vw, 1.5rem);
	}
	.actualContactDiv{
		padding-inline:clamp(0.9375rem, -0.8824rem + 2.6471vw, 1.5rem);
		gap:clamp(1rem, -2.8419rem + 5.5882vw, 2.1875rem);
	}
	#contactNameDiv{
		padding-inline: clamp(1.25rem, -5.2206rem + 9.4118vw, 3.25rem);
	}


}

@media(max-width: 1100px){
	#stickyContactsContent{
		left: 180px;
	}
	#contentLimiter{
		margin-left: clamp(31.25rem, 27.6483rem + 6.7797vw, 33.75rem);
	}
	#contactInfo{
		padding-inline:clamp(1rem, -7.16rem + 15.36vw, 3.4rem);;
	}
	.divider{
		margin-inline:clamp(0.625rem, -3.625rem + 8vw, 1.875rem); ;
	}
	#contactInfoInfoHeadline{
		gap: clamp(1rem, -6.6838rem + 11.1765vw, 3.375rem);
	}
}

@media(max-width: 850px){
	#stickyContactsContent{
		left: 0;
		top: 80px;
	}
	#contentLimiter{
		margin-left: clamp(20.125rem, 4.2813rem + 39vw, 25rem);
	}
	#stickyContacts{
		margin-bottom: 80px;
	}
	
}

@media(max-width: 650px){
	.dividerBottom{
		display: flex !important;
	}
	#contactInfoBackBtn{
		display: flex !important;
	}
	#addNewContactBtn{
		font-size: clamp(1rem, 0.5498rem + 0.8475vw, 1.3125rem);
		padding-inline: clamp(1.25rem, -1.6314rem + 5.4237vw, 3.25rem);
	}
	#contentLimiter{
		margin-left: 0;
	}
	#contactHeadlineDiv{
		flex-direction: column;
		justify-content: center;
		align-items: start;
		gap: 10px
	}
	#contactHeadlineDiv .divider{
		display: none;
	}
	#contactHeadlineDiv h1{
		font-size: 47px;
	}
	#contactHeadlineDiv p{
		font-size: 20px;
	}

	#contactInfo{
		padding-top: 90px;
		padding-inline: clamp(1.25rem, -0.5682rem + 9.0909vw, 3.125rem);
	}

	#editDiv{
		display: none !important;
	}

	#nameAndEditDiv h3{
	 font-size: clamp(1.6875rem, 0.8996rem + 3.9394vw, 2.5rem);
	}
	.formDiv{
		width: 100% !important;
	}

	.formDiv input{
		width: clamp(12.5rem, 4.9528rem + 37.7358vw, 25rem);
	}

	#addNewContactBtnDiv{
		padding-bottom: 0;
	} 
	
}
@media(max-width: 640px){
	#stickyContacts{
		margin-bottom: 20px;
	}
	
}