a{
    color: #CDCDCD;
}

#headerContent{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 116px;
    padding-right: 40px;
    width: 100%;
    margin-inline: auto;
}

header{
    position: fixed;
    left: 232px;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    height: 96px;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
    width: calc(100% - 232px);
    /* margin-left: 232px; */
    background-color: #FFFFFF;
}

header span{
    font-family: "inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    color: #000000;
}

#headerIconDiv{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

#headerInfoIcon{
    width: 20px;
    height: 20px;
}

#shorthandNameDiv{
    border-radius: 50%;
    border: 3px solid #2A3647;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#29ABE2;
}

.short-hand-name {
    color: #29ABE2;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0;
    font-family: "inter", sans-serif;
}

