a {
	color: #cdcdcd;
}

#headerContent {
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 116px;
	padding-right: 40px;
	width: 100%;
	margin-right: auto;
}

header {
	position: fixed;
	left: 232px;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	height: 96px;
	align-items: center;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
	width: calc(100% - 232px);
	background-color: #ffffff;
	z-index: 999;
}

header span {
	font-family: "inter", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 0;
	color: #000000;
}

.header-logo {
	display: none;
}

#headerIconDiv {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
	position: relative;
}

#headerInfoIcon {
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition: transform 100ms ease-in-out;
}

#headerInfoIcon:hover {
	transform: scale(1.2);
}

span {
	cursor: default;
}

#shorthandNameDiv {
	border-radius: 50%;
	border: 3px solid #2a3647;
	width: 56px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #29abe2;
	cursor: pointer;
	transition: background-color 100ms ease-in-out;
}

#shorthandNameDiv:hover {
	background-color: #E2E6EC;
}

.short-hand-name {
	color: #29abe2;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: 0;
	font-family: "inter", sans-serif;
	cursor: pointer;
}

#menu {
	display: flex;
	position: absolute;
	top: 76px;
	right: 0;
	flex-direction: column;
	background-color: #2a3547;
	border-radius: 20px 0 20px 20px;
	padding: 10px;
}
#menu a {
	color: #cdcdcd;
	font-size: 16px;
	font-weight: 400;
	padding: 18px 26px;
	white-space: nowrap;
}

#menu a:hover {
	background-color: #2a3f60;
}
.hidden {
	display: none !important;
}

.backdrop{
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display: flex;
	z-index: 1000;
	background-color: transparent;
}

@media (max-width: 1100px) {
	header {
		left: 180px;
		width: calc(100% - 180px);
	}
}

@media (max-width: 850px) {
	header {
		width: 100%;
		left: 0;
		height: 80px;
	}
	.header-subheader {
		display: none;
	}
	.header-logo {
		display: block;
	}
	#headerContent {
		padding-inline: 1rem;
	}
	#shorthandNameDiv {
		height: 40px;
		width: 40px;
	}
	#menu {
		top: 40px;
	}
}
