/* body{
    margin: 0;
} */

a{
    text-decoration: none;
    color: #CDCDCD;
}

@font-face {
    font-family: "inter";
    src: url(../assets/Fonts/font/inter/Inter-VariableFont_opsz\,wght.ttf);
}

/* #headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding-left: 348px;
    padding-right: 40px;
    width: 100%;
    margin-inline: auto;
} */

#headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding-left: 116px;
    padding-right: 40px;
    width: 100%;
    margin-inline: auto;
}

header{
    display: flex;
    justify-content: center;
    height: 96px;
    align-items: center;
    box-shadow: 0px 3px 5px 0px #0000001A;
    width: calc(100% - 232px);
    margin-left: 232px;
    background-color: #FFFFFF;
}

header span{
    font-family: "inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

#headerIconDiv{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

#headerInfoIcon{
    width: 20px;
    height: 20px;
}

#shorthandNameDiv{
    border-radius: 50%;
    border: 3px solid #2A3647;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#29ABE2;
    font-family: "inter", sans-serif;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
}

