div {
    opacity: 0;
}

#content {
    border-radius: 30px;
    gap: 32px;
    padding: 48px 115px;
    background-color: rgb(255, 255, 255);
}
body {
    background-color: rgb(246, 247, 249);
    justify-content: space-between;
}
.separator {
    border-color: #29ABE2;
    border-style: solid;
    width: 150px;
    border-width: 3px;
    border-radius: 30px;
}
input {
    color: black;
    background-color: white;
    border: none;
    width: 380px;
    outline: none;
}
input::placeholder {
    color: #D1D1D1;
}
button {
    border-radius: 8px;
    border-width: 1px;
    gap: 10px;
    padding: 15px 24px;
    font-weight: 700;
    font-size: 21px;
}
#registered_login {
    border: none;
    color: white;
    background-color: #2A3647;
}
#guest_login {
    border: 1px solid #2A3647;
    color: #2A3647;
    background-color: white;
}
#content .space_between {
    width: 380px;
}
.singleinput_div:focus-within {
    border-color: #29ABE2;
}
.singleinput_div {
    border-radius: 10px;
    border: 1px solid #2A3647;
    gap: 10px;
    padding: 12px 21px;
}
a {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #A8A8A8;
}

.link_div {
    gap: 16px;
}

.button_div {
    gap: 35px;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    margin: 0;
}

#signup_div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    padding-right: 120px;
    padding-top: 67px;
}

#signin {
    background-color: #2A3647;
    color: white;
}

#login_div {
    gap: 16px;
}

#logo {
    width: 100px;
    height: 122px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
}

#login_data {
    gap: 20px;
}

.invalid {
    border-color: red;
}