@font-face {
    font-family: Inter;
    src: url(../assets/Fonts/font/inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

#content {
    border-radius: 30px;
    gap: 32px;
    padding: 48px 115px;
    background-color: rgb(255, 255, 255);
}
body {
    background-color: rgb(246, 247, 249);
    justify-content: space-between;
}
.separator {
    border-color: #29ABE2;
    border-style: solid;
    height: 150px;
    rotate: 90deg;
    border-width: 3px;
}
input {
    color: #D1D1D1;
    border: none;
    width: 380px;
}
button {
    border-radius: 8px;
    border-width: 1px;
    gap: 10px;
    padding: 15px 24px;
    font-weight: 700;
    font-size: 21px;
}
#registered_login {
    border: none;
    color: white;
    background-color: #2A3647;
}
#guest_login {
    border: 1px solid #2A3647;
    color: #2A3647;
    background-color: white;
}
#content .space_between {
    width: 380px;
}
.singleinput_div {
    border-radius: 10px;
    border: 1px solid #2A3647;
    gap: 10px;
    padding: 12px 21px;
}
.input_div {
    width: 422px;
    height: 152px;
    gap: 20px;
}
a {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #A8A8A8;
}

.link_div {
    gap: 16px;
}

.button_div {
    gap: 35px;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    margin: 0;
}

#login_div {
    width: 315px;
    height: 89px;
    gap: 16px;
}
#signup_div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    padding-right: 120px;
    padding-top: 67px;
}

#signin {
    background-color: #2A3647;
    color: white;
}










/* ESSENTIALS */
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}