#addContactDial {
	background-color: transparent;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#addContactDial:active {
	border: none;
	outline: none;
}

#addContactDialContent {
	display: flex;
	width: 1212px;
	background-color: white;
	border-radius: 30px;
	position: absolute;
	top: 50%;
	right: 0;
}

#addContactLogoAndTextDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: #2a3647;
	padding: 0 48px;
	padding-top: 154px;
	padding-bottom: 232px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

#addContactLogoAndTextDiv img {
	width: 56px;
	height: 66.5px;
	margin-bottom: 12px;
}

#addContactTextDiv {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: white;
}

#addContactTextDiv h3 {
	font-size: 61px;
	font-weight: 700;
}

#addContactTextDiv p {
	font-size: 27px;
	font-weight: 400;
}

#addContactInfoDiv {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	flex-grow: 1;
	padding-left: 83px;
	padding-right: 48px;
	padding-top: 48px;
	padding-bottom: 135px;
}

#closeDialBtn {
	margin-bottom: 61px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}

#closeDialBtn img {
	width: 24px;
	height: 24px;
}

#closeDialBtn:hover{
	background-color: #d1d1d1;
}

#contactImgAndFormDiv {
	display: flex;
	align-items: flex-start;
	gap: 72px;
	justify-content: center;
}

#contactImgDiv {
	width: 120px;
	height: 120px;
	background-color: #d1d1d1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 67px;
}

#contactImgDiv img {
	width: 43px;
	height: 43px;
}

#contactFormDiv {
	display: flex;
	flex-direction: column;
}

#contactFormDiv form {
	flex-direction: column;
	display: flex;
	gap: 32px;
	margin-bottom: 48px;
}

.formDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	padding: 13px 21px;
	width: 422px;
}

.formDiv input {
	z-index: 1;
	height: 24px;
	outline: none;
	border: none;
	font-weight: 400;
	font-size: 20px;
}

.formDiv input::placeholder {
	font-weight: 400;
	font-size: 20px;
}

.form input:focus {
	outline: none;
	border: none;
}

#dialButtonDiv {
	display: flex;
	gap: 25px;
}

#cancelButton {
	padding: 15px 24px;
	border: 1px solid #2a3647;
	background-color: white;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 4px;
}

#cancelButton svg {
	width: 10.5px;
	height: 10.5px;
}

#cancelButton:hover {
	border-color: #29abe2;
	color: #29abe2;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

#cancelButton:hover svg path {
	stroke: #29abe2;
}

#createContactBtn {
	display: flex;
	gap: 4px;
	padding: 16px;
	background-color: #2a3647;
	color: white;
	border-radius: 10px;
	align-items: center;
}

#createContactBtn:hover {
	background-color: #29abe2;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

#createContactBtn svg {
	width: 15.5px;
	height: 11px;
}

/* ---------------------------------------------- EDIT ----------------------------------*/

#editContactDial {
	background-color: transparent;
	border: none;
	outline: none;
	overflow: hidden;
}

#editContactDial:active {
	border: none;
	outline: none;
}

#editContactDialContent {
	display: flex;
	width: 1212px;
	background-color: white;
	border-radius: 30px;
	position: absolute;
	top: 50%;
	right: 0;
}

#editContactLogoAndTextDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: #2a3647;
	padding: 0 48px;
	padding-top: 154px;
	padding-bottom: 232px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

#editContactLogoAndTextDiv img {
	width: 56px;
	height: 66.5px;
	margin-bottom: 12px;
}

#editContactTextDiv {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: white;
}

#editContactTextDiv h3 {
	font-size: 61px;
	font-weight: 700;
}

#editContactTextDiv p {
	font-size: 27px;
	font-weight: 400;
}

#editContactInfoDiv {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	flex-grow: 1;
	padding-left: 83px;
	padding-right: 48px;
	padding-top: 48px;
	padding-bottom: 135px;
}

#closeDialBtn {
	margin-bottom: 61px;
	background-color: white;
}

#closeDialBtn img {
	width: 24px;
	height: 24px;
}

#contactImgAndFormDiv {
	display: flex;
	align-items: flex-start;
	gap: 72px;
	justify-content: center;
}

#editImgDiv {
	width: 120px;
	height: 120px;
	background-color: #d1d1d1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 67px;
	font-size: 47px;
	font-weight: 500;
}

#contactImgDiv img {
	width: 43px;
	height: 43px;
}

#contactFormDiv {
	display: flex;
	flex-direction: column;
}

#contactFormDiv form {
	flex-direction: column;
	display: flex;
	gap: 32px;
	margin-bottom: 48px;
}

.formDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	padding: 13px 21px;
	width: 422px;
}

.formDiv input {
	z-index: 1;
	height: 24px;
	outline: none;
	border: none;
	font-weight: 400;
	font-size: 20px;
}

.formDiv input::placeholder {
	font-weight: 400;
	font-size: 20px;
}

.form input:focus {
	outline: none;
	border: none;
}

#dialButtonDiv {
	display: flex;
	gap: 25px;
}

#deleteButton {
	padding: 15px 24px;
	border: 1px solid #2a3647;
	background-color: white;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 21px;
	font-weight: 400;
	color: #2a3647;
}

#deleteButton svg {
	width: 10.5px;
	height: 10.5px;
}

#deleteButton:hover {
	border-color: #29abe2;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
	color: #29abe2;
}

#saveBtn {
	display: flex;
	gap: 4px;
	padding: 16px;
	background-color: #2a3647;
	color: white;
	border-radius: 10px;
	align-items: center;
	font-size: 21px;
	font-weight: 700;
}

#saveBtn svg {
	width: 15.5px;
	height: 11px;
}

#saveBtn:hover {
	background-color: #29abe2;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.slideIn {
	animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
	0% {
		transform: translate(200%, -50%);
	}

	100% {
		transform: translate(-30%, -50%);
	}
}

@keyframes slideOut{
	0%{
		transform: translate(-30%, -50%);
	}

	100%{
		transform: translate(200%, -50%);
	}
}

.slideOut{
	animation: slideOut 1s ease-in forwards;
}

#successDial {
	position: relative;
	background-color: transparent;
	overflow: hidden;
	width: 100%;
	height: 500px;
	border: none;
	outline: none;
}

#successDial:active {
	border: none;
	outline: none;
}

#successDial::backdrop {
	background-color: transparent;
}

#successDiv {
	margin-top: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#successDiv button {
	background-color: #2a3647;
	color: white;
	border-radius: 20px;
	box-shadow: 0 0 4px 0 #00000026;
	font-size: 20px;
	font-weight: 400;
	padding: 20px;
	transform: translateX(400%);
}

@keyframes slideInAndOut {
	0% {
		transform: translateX(400%);
	}
	20% {
		transform: translateX(0%);
	}
	80% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(400%);
	}
}

.slideMsgInAndOut {
	animation: slideInAndOut 1.5s ease-out forwards;
}

#afterSpan{
	position: relative;
}

#afterSpan::after{
	content: "";
	position: absolute;
	background-color: #29abe2;
	bottom: calc(0% - 16px);
	height: 3px;
	width: 125%;
	left: 0;
	border-radius: 10px;

}

.hideRefuseDiv{
	display: none;
}

.showRefuseDiv{
	display: flex;
}