body {
	margin: 0;
	background-color: #f6f7f8;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2.5rem;
	overflow-x: hidden;
	overflow-y: scroll;
}

#signUpContent {
	max-width: 90.0rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 100%;
}

a {
	text-decoration: none;
	margin: 0;
}
#formContent {
	background-color: #ffffff;
	border-radius: 1.875rem;
	box-shadow: 0px 0px 3px 5px rgba(42, 54, 71, 0.02);
	padding: 3.0rem 88px;
}

#signUpHeadline {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
	margin-bottom: 3.0rem;
	width: 100%;
}

h1 {
	grid-column: 1;
}
#formContent h2 {
	position: relative;
	font-family: "inter", sans-serif;
	font-size: 3.8125rem;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: 0;
	color: #000000;
	grid-column: 2;
	text-align: center;
}
#formContent h2::after {
	content: "";
	position: absolute;
	background-color: #29abe2;
	left: 50%;
	transform: translate(-50%);
	top: calc(100% + 16px);
	height: 0.1875rem;
	width: 70%;
	border-radius: 1.875rem;
}
#signUpFormDiv {
	margin-bottom: 1.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
#signUpForm {
	display: flex;
	flex-direction: column;
	gap: 1.0rem;
	width: 100%;
}

.signUpInput {
	border: none;
	flex: 1;
	height: 3.0rem;
	border-radius: 0.625rem;
	font-size: 1.25rem;
	font-weight: 400;
	outline: none;
}

.signUpInput::placeholder {
	color: #d1d1d1;
}

#signUpBtn {
	width: 7.875rem;
	height: 3.4375rem;
	border-radius: 0.5rem;
	padding: 0.875rem 24px;
	background-color: #2a3647;
	border: none;
	color: #ffffff;
	font-family: "inter", sans-serif;
	font-size: 1.3125rem;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: 0;
	transition: 200ms ease-in-out;
}

#signUpBtn:hover {
	background-color: #29abe2;
	cursor: pointer;
	box-shadow: 0px 8px 10px -9px rgba(0, 0, 0, 0.63);
}

#signUpBtn:focus {
	outline: none;
	border: none;
}

#signUpBtn:active {
	scale: 0.9;
}

.signUpCheckboxDiv {
	font-family: "inter";
	font-weight: 400;
	font-size: 1.0rem;
	line-height: 120%;
	letter-spacing: 0;
	color: #a8a8a8;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2.0rem;
}
.signUpCheckboxDiv span {
	margin-left: 0.5rem;
	margin-right: 0.25rem;
}

.signUpCheckboxDiv a {
	color: #29abe2;
}

.signUpCheckboxDiv a:hover {
	scale: 1.02;
	text-decoration: underline;
	text-underline-offset: 3px;
}

.signUpCheckboxDiv:hover .checkmark {
	outline: 1px solid black;
}

#signUpPrivacyAndLegalDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.0rem;
	margin-top: 7rem;
}

#signUpPrivacyAndLegalDiv a {
	padding: 0 8px;
	color: #a8a8a8;
	font-family: "inter", sans-serif;
	font-weight: 400;
	font-size: 1.0rem;
	line-height: 120%;
	letter-spacing: 0;
	transition: 0.075s ease-in-out;
}

#signUpPrivacyAndLegalDiv a:hover {
	color: #29abe2;
	transform: scale(1.05);
}

#signUpLogoDiv {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	margin-top: 5.0rem;
	margin-left: 4.8125rem;
}
#signUpLogo {
	width: 6.25rem;
	height: 7.625rem;
}

.signUpInputDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.0625rem solid #d1d1d1;
	border-radius: 0.9375rem;
	padding: 0.0rem 21px;
	flex-grow: 1;
	width: 100%;
}

.signUpInputDiv:hover {
	border-color: #aea5a5;
}

.signUpInputDiv:focus-within {
	border-color: #29abe2;
}

#personIcon {
	width: 1.0rem;
	height: 1.0rem;
}

#emailIcon {
	width: 1.25rem;
	height: 1.0rem;
}

.signUpLock:hover {
	cursor: pointer;
}

#signUpBackIcon {
	width: 1.3125rem;
	height: 1.3125rem;
	margin-right: 2.5rem;
}

#signUpBackIcon:hover {
	width: 1.3125rem;
	height: 1.3125rem;
	cursor: pointer;
	transform: scale(1.8);
	border-radius: 50%;
	background-color: #f6f7f8;
	padding: 0.25rem;
}

#signUpBackIcon:active {
	transform: scale(1);
	border-radius: 50%;
	padding: 0.125rem;
}

input {
	cursor: pointer;
	transition: 200ms ease-in-out;
}

#signUpToLogIn {
	margin-right: auto;
}

#signUpButtonDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

.show {
	color: #ff8190;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
	display: none;
}

.checkbox:hover {
	cursor: pointer;
}

.checkbox input {
	display: none;
}

.checkbox input:checked + .checkmark {
	background-image: url("../assets/img/signUp/Property\ 1=hover\ checked.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 1.25rem;
	height: 1.25rem;
	scale: 1.2;
}

.checkbox .checkmark {
	position: relative;
	width: 1.25rem;
	height: 1.25rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	transition: background-color 0.3s ease-in-out;
	border-radius: 0.25rem;
}

dialog {
	width: 80%;
	height: 100%;
	background-color: transparent;
	outline: transparent;
	border: none;
}
dialog:focus {
	background-color: transparent;
	outline: transparent;
}

dialog div {
	position: absolute;
	left: 50%;
	bottom: 0;
	padding: 1.5625rem;
	background-color: #2a3647;
	box-shadow: 0px 0px 4px 0px #0000001a;
	border-radius: 1.25rem;
	transform: translate(-50%, -50%);
	opacity: 0;
}

dialog p {
	font-size: 1.25rem;
	color: #ffffff;
}

@keyframes fadeAndMove {
	0% {
		bottom: 0;
		left: 50%;
		opacity: 0;
	}
	100% {
		bottom: 50%;
		left: 50%;
		opacity: 1;
	}
}

.fadeInAndMoveUp {
	animation: fadeAndMove 0.25s ease-in forwards;
}

.hideRefuseDiv {
	display: none;
}

.showRefuseDiv {
	display: flex;
}

.refuseDiv {
	justify-content: flex-start;
	align-items: flex-start;
	color: #ff8190;
	font-size: 0.75rem;
	font-weight: 400;
	margin-left: 0.625rem;
	text-align: start;
	width: 100%;
}

.formInputWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
}

#checkboxBorder {
	outline: none;
}

.normalBorder {
	background-image: url("../assets/img/signUp/Rectangle\ 5.svg");
}

.redBorder {
	background-image: url("../assets/img/signUp/rectangle_border_red.svg");
}

.hideIcon {
	display: none;
}

.eyeOpen:hover {
	cursor: pointer;
}

.eyeClosed:hover {
	cursor: pointer;
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
	background-color: gray; 
	color: #ccc;
	pointer-events: none;        
  }

@media (max-width: 53.125rem) {
	#signUpContent {
		width: 100%;
	}
	#formContent h2 {
		font-size: 3.25rem;
	}

	#formContent {
		padding: 0;
		margin-top: 2.5rem;
		padding: 3.0rem 88px;
	}

	#signUpHeadline {
		margin-bottom: 2.5rem;
	}
	#formContent h2::after {
		width: 60%;
		top: calc(100% + 10px);
	}
	.signUpInput {
		font-size: 1.125rem;
	}
	.signUpInputDiv {
		padding: 0 20px;
		width: 100%;
	}
	#signUpPrivacyAndLegalDiv {
		margin-top: 2.5rem;
	}
	#signUpLogo {
		width: 5.625rem;
		height: 6.25rem;
	}
	#signUpLogoDiv {
		margin: 0;
		width: 80%;
	}
	#signUpFormDiv {
		margin-bottom: 1.875rem;
	}
	.signUpCheckboxDiv {
		margin-bottom: 0.625rem;
		font-size: 0.9375rem;
	}
	#signUpBackIcon {
		margin-right: 1.5625rem;
	}
	body {
		overflow-y: scroll;
		overflow-x: hidden;
		padding-bottom: 0;
	}
}
@media (max-width: 40.625rem) {
	#formContent {
		padding: 0;
		margin-top: 2.5rem;
		padding: 1.75rem 44px;
	}
}

@media (max-width: 28.125rem) {
	#signUpContent {
		width: 90%;
	}
	#formContent h2 {
		font-size: 2.375rem;
	}

	#formContent {
		padding: 1.25rem 20px;
		margin-top: 1.25rem;
	}

	#signUpHeadline {
		margin-bottom: 1.25rem;
	}
	#formContent h2::after {
		width: 60%;
		top: calc(100% + 6px);
	}
	.signUpInput {
		font-size: 0.9375rem;
	}
	.signUpInputDiv {
		padding: 0 10px;
		width: 100%;
	}
	#signUpPrivacyAndLegalDiv {
		margin-top: 1.25rem;
	}
	#signUpLogo {
		width: 4.0rem;
		height: 4.875rem;
	}
	#signUpLogoDiv {
		margin: 0;
		width: 80%;
	}
	#signUpFormDiv {
		margin-bottom: 0.625rem;
	}
	.signUpCheckboxDiv {
		margin-bottom: 0.625rem;
		font-size: 0.9375rem;
	}
	#signUpBackIcon {
		margin-right: 1.5625rem;
	}
	body {
		overflow-y: scroll;
		overflow-x: hidden;
		padding-bottom: 0;
	}
}
