.join-header {
    margin-top: 6.875rem;
    width: calc(100% - 232px);
    margin-left: 232px;
}

.container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-inline: auto;
    gap: 1.875rem;
    padding-left: 6rem;
}

h1 {
    font-weight: 700;
    font-size: 3.813rem;
}

.blue-border {
    border: 3px solid #29ABE2;
    height: 59px;
}

.subheader {
    font-weight: 400;
    font-size: 1.688rem;
}

main {
    margin-top: 3.5rem;
    width: calc(100% - 232px);
    margin-left: 232px;
}

.main-container {
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    padding-left: 6rem;
}

.todo-done {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.align-todos-and-done {
    display: flex;
    align-items: center;
    padding-inline: 3.625rem;
    padding-block: 2.375rem;
    background-color: #FFFFFF;
    border-radius: 30px;
    gap: 1.125rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
    width: 264px;
    height: 168px;
    transition: all 80ms ease-out;
}

.align-todos-and-done:hover {
    cursor: pointer;
}

.align-todos-and-done:hover .task-numbers,
.align-todos-and-done:hover .small-task-text {
    color: #FFFFFF;
}

.align-todos-and-done:hover svg circle{
    fill: #FFFFFF;
}

.align-todos-and-done:hover .todo-svg path {
    fill: #2A3647;
}

.align-todos-and-done:hover .done-svg path {
    stroke: #2A3647;
}

.to-do-animation:hover {
    transform: scale(1.1) translateX(5px);
    background-color: #2A3647;
}

.done-animation:hover {
    transform: scale(1.1) translateX(-5px);
    background-color: #2A3647;
}

.task-numbers {
    font-weight: 600;
    font-size: 4rem;
    color: #000000;
}

.small-task-text {
    font-weight: 400;
    font-size: 1.25rem;
    color: #2A3647;
    text-align: center;
}

.deadline-section {
    margin-top: 1.75rem;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: flex-start;
}

.deadline-box {
    padding-inline: 3.625rem;
    padding-block: 2.375rem;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 3.813rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
    width: 560px;
    height: 168px;
    transition: all 80ms ease-out;
}

.deadline-box:hover {
    cursor: pointer;
    transform: scale(1.1) translateX(5px) translateY(5px);
    background-color: #2A3647;
}

.deadline-box:hover .task-numbers,
.deadline-box:hover .urgent-task-text,
.deadline-box:hover .urgent-date,
.deadline-box:hover .upcoming-deadline-text {
    color: #FFFFFF;
}

.urgent {
    display: flex;
    gap: 1.125rem;
    align-items: center;
}

.urgent-task-text {
    font-weight: 400;
    font-size: 1rem;
    color: #2A3647;
}

.urgent-border {
    height: 102px;
    border: 2px solid #D1D1D1;
}

.align-urgent-date {
    display: flex;
    flex-direction: column;
    gap: 0.813rem;
}

.urgent-date {
    font-weight: 700;
    font-size: 1.313rem;
    color: #2A3647;
}

.upcoming-deadline-text {
    font-weight: 400;
    font-size: 1rem;
    color: #2A3647;
}

.greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.188rem;
}

.greet-msg {
    font-weight: 500;
    font-size: 2.938rem;
    color: #2A3647;
}

.greet-name {
    font-weight: 700;
    font-size: 4rem;
    color: #29ABE2;
}

.board-summary-section {
    margin-top: 1.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.75rem;
}

.tasks-in-board {
    padding-inline: 1.188rem;
    padding-block: 1.563rem;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0 ,0.10);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 168px;
    transition: all 80ms ease-out;
}

.animate-first-task:hover {
    cursor: pointer;
    transform: scale(1.1) translateX(5px);
    background-color: #2A3647;
}

.animate-second-task:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #2A3647;
}

.animate-third-task:hover {
    cursor: pointer;
    transform: scale(1.1) translatex(-5px);
    background-color: #2A3647;
}

.tasks-in-board:hover .task-numbers,
.tasks-in-board:hover .small-task-text {
    color: #FFFFFF;
}

